<style>@import url ('https://fonts.googleapis.com/css2? family = Mukta: wght @ 300 & display = swap');
</style>

h1 {margin-left: 0 auto; font-size: 20px;}
h2 {text-align: center; text-decoration: underline; font-size: 17px;}
body{width:100%; font-family: Mukta; }
body {padding-top: 10px; padding-left: 0; padding-bottom:900px; padding-right: 0; background:linear-gradient(#6a7a7a79, #80f5e5ab) }
